{{ 'footer.css' | asset_url | stylesheet_tag }}
{% style %}

{% endstyle %}
<div class="footer-wrapper">

  <a href="/" class="footer_logo">{{ shop.name }}</a>
  <div >
    {% for link in linklists.main-menu.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>
  <ul>
    {% for link in linklists['our-people'].links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul>
    {% for link in linklists['responsibilities'].links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>