{{ 'main-product.css' | asset_url | stylesheet_tag }}
{{ 'dropdown-menu.css' | asset_url | stylesheet_tag }}
{{ 'shipping.css' | asset_url | stylesheet_tag }}

{% assign custom-var = product.metafields.custom %}

<div class="main-product__wrapper">
  <div class="main-product__titles">

    <h2 class="main-product__title">{{ product.title }}</h2>
    {% if custom-var.sub_title %}
      <h3 class="main-product__subtitle">{{ custom-var.sub_title }}</h3>
    {% endif %}
  </div>

  <div class="main-product__body">
    <img src="{{ product | image_url }}" />

    <span class="main-product__text">
      {% if custom-var.abv %}
        <p class="main-product__volumes">ABV: {{ custom-var.abv }}% | VOLUME: {{ custom-var.volume }}cl</p>
      {% endif %}

      <span class="main-product__price">
        <h2>{{ product.price | money }}</h2>
        <p>Price excl. shipping</p>
      </span>

      {% render 'product-buttons' %}
      {% render 'shipping' %}
      {{ product.description }}

      <div class="main-product__dropdown">
        {% render 'dropdown-menu', title: 'How To Enjoy', content: custom-var.how_to_enjoy %}
        {% render 'dropdown-menu', title: 'Blend and Origin', content: custom-var.blend_and_origin %}
        {% render 'dropdown-menu', title: 'Delivery Information', content: custom-var.delivery_information %}
      </div>

    </span>

  </div>
</div>

{% schema %}
  {
    "name": "Main Product",
    "settings": [
      {
        "type": "text",
        "label": "Volume",
        "id": "product_volume",
        "default": "100ml"
      }, {
        "type": "text",
        "label": "ABV",
        "id": "product_abv",
        "default": "40%"
      }, {
        "type": "text",
        "label": "Sub-heading",
        "id": "product_sub_heading"
      }
    ]
  }
{% endschema %}