{{ 'main-product.css' | asset_url | stylesheet_tag }}

{% assign custom-var = product.metafields.custom %}

<div class="wrapper">

  <h2 class="product_title">{{ product.title }}</h2>
  {% if custom-var.sub_title %}
    <h3>{{ custom-var.sub_title }}</h3>
  {% endif %}

  <div class="product_body">

    <img src="{{ product | image_url }}" />
    <span>
      <div class="buttons-wrapper">
        {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}

          <button class="buttons-minus">-</button>
          <p class="current-quantity">{{ product.selected_or_first_available_variant.inventory_quantity }}</p>
          <button class="buttons-add">+</button>
          <button class="add-to-basket">add to basket</button>
          <button class="favourite">&hearts;</button>

        {% else %}
          <h2>OUT OF STOCK</h2>
          <button class="favourite">&hearts;</button>
        {% endif %}
      </div>
      <h2 class="product_price">{{ product.price | money }}</h2>
      {% if custom-var.alcohol_by_volume %}

        <h2>{{ custom-var.alcohol_by_volume }}%</h2>
        <h2>{{ custom-var.volume }}cl</h2>

      {% endif %}
      {{ product.description }}
    </span>
  </div>
</div>

{% schema %}
  {
    "name": "Main Product",
    "settings": [
      {
        "type": "text",
        "label": "Volume",
        "id": "product_volume",
        "default": "100ml"
      }, {
        "type": "text",
        "label": "ABV",
        "id": "product_abv",
        "default": "40%"
      }, {
        "type": "text",
        "label": "Sub-heading",
        "id": "product_sub_heading"
      }
    ]
  }
{% endschema %}