{{ 'main-product.css' | asset_url | stylesheet_tag }}
{{ 'dropdown-table.css' | asset_url | stylesheet_tag }}

{% assign custom-var = product.metafields.custom %}

<div class="main-product__wrapper">
  <div class="titles">
  
  <h2 class="main-product__title">{{ product.title }}</h2>
    {% if custom-var.sub_title %}
      <h3 class="main-product__subtitle">{{ custom-var.sub_title }}</h3>
    {% endif %}
  </div>

  <div class="main-product__body">
  <img src="{{ product | image_url }}" />
    
  <span>
      {% if custom-var.alcohol_by_volume %}
      <h2 class="main-product__volumes">ABV: {{ custom-var.alcohol_by_volume }}% | VOLUME: {{ custom-var.volume }}cl</h2>
      {% endif %}
      <h2 class="main-product__price">{{ product.price | money }}</h2>
      <div class="main-product__buttons">
      {% render 'product-buttons' %}
      {{ product.description }}
      {% render 'dropdown-menu' %}
    </span>
    
  </div>
</div>

{% schema %}
  {
    "name": "Main Product",
    "settings": [
      {
        "type": "text",
        "label": "Volume",
        "id": "product_volume",
        "default": "100ml"
      }, {
        "type": "text",
        "label": "ABV",
        "id": "product_abv",
        "default": "40%"
      }, {
        "type": "text",
        "label": "Sub-heading",
        "id": "product_sub_heading"
      }
    ]
  }
{% endschema %}